body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
  font-size: 13px;
}

h1 {
  margin: 2.6rem auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
  line-height: 2; /*odstepy pomiedzy , normalna wartosc to 1 */
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.2rem;
  margin: 0.5em auto 0.5em auto;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
  font-weight: bold;
}

a {
  color: #11999E;
}

a:hover {
  color: #F9CEEE;
}

p {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 2;
}

hr {
  border-style: dotted;
  width: 7%;
  border-width: 6px 0 0 0;
  color: #EAF6F6;
}

/***********************Containers Below**************************/
.top-container {
  background-color: #EAF6F6;
  position: relative;
  /*wszystkie elementy wewnatrz sa teraz zalezne od tego*/
  padding-top: 100px;
  /*odstep od gory do wszystkich el w kontenerze*/
}

.middle-container {
padding: 100px 0 50px 0;
margin: 0 auto 0 auto;
}

.bottom-container {
background-color: #4D4C7D;

}

.cloud-above {
  position: absolute;
  right: 300px;
  top: 50px;
}

.cloud-below {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.skills {
  margin-top: 6.25rem;
}

.skillstitle{
margin-bottom: 6.25rem;
}
.skill-row-left {
  width: 50%;
margin: 3.25rem auto 3.25rem auto;
text-align: left;
}

.skill-row-right {
width: 50%;
margin: 3.25rem auto 6.25rem auto;
text-align: right;
}

.profile {
width: 40%;
margin: 0 auto 6.25rem auto;
}

.computerimg {
  width: 25%;
  float: left;
  margin-right: 1.875rem;
}

.btcimg {
  width: 25%;
  float: right;
  margin-left: 1.875rem;
}
.profilepic {
  width: 30%;
}


.contact-description{
  margin-bottom: 4.125rem;
  font-style: bold;
}

.contact-me {
width: 40%;
margin: 6.25rem auto 4.25rem auto;
}

.footer-link {
color: #11999E;
display: inline-block;
padding: 30px 20px 10px 20px;
font-family: 'Montserrat', sans-serif;
font-weight: bold;
text-decoration: none;
font-size: 0.95rem;
}

.copyrights {
  color: #EAF6F6;
  font-style: bold;
  font-size: 0.75rem;
  padding: 10px 0 30px 0;
}

/****************Adding Button from External Site*****/

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 18px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
  color: #ffffff;
}

/* useful for clearing NOT WRAPPING text near image
.Programmer-description {
  clear: left;
}
.Trader-description {
  clear: right;
}
**/
